body {
    font-size: 11px;
}

header,footer {
    display: none;
}

#twitter {
    display: none;
}

#gplusone {
    display: none;
}

#gplusfollow {
    display: none;
}

#banner {
    display: none;
}

#pic {
    display: none;
/*
    background-image: url('/images/swedenstare.png');
    background-repeat: no-repeat;
    background-position: 50% 25%;
    position: absolute;
    border-radius: 250px;
    top: 25%;
    left: 15%;
    width: 250px;
    height: 250px;
*/
}

#container {
    margin:0%;
}

#bio {
    margin: 25px 5px 5px 5px;
}

#name {
    font-size:48px;
    font-family:"Courier New", Courier, monospace;
    font-style: italic;
}

#social_links {
    margin-left:80px;   
}

#social_links img {
    margin:16px;
    height:64px;
    width:64px;
    filter: none;
    -webkit-filter: grayscale(0);
}

#social_links img:hover {
    filter: none;
    -webkit-filter: grayscale(0);
}
