{{ $allSkills := slice }}

{{/* Collect all skills from resume with proficiency */}}
{{ range $name, $prof := .Site.Data.resume.skills.languages }}
  {{ if and $prof (ne $prof nil) }}
    {{ $allSkills = $allSkills | append (dict "name" $name "proficiency" $prof) }}
  {{ end }}
{{ end }}

{{ range $name, $prof := .Site.Data.resume.skills.platforms_tools }}
  {{ if and $prof (ne $prof nil) }}
    {{ $allSkills = $allSkills | append (dict "name" $name "proficiency" $prof) }}
  {{ end }}
{{ end }}

{{ range $name, $prof := .Site.Data.resume.skills.data_stores }}
  {{ if and $prof (ne $prof nil) }}
    {{ $allSkills = $allSkills | append (dict "name" $name "proficiency" $prof) }}
  {{ end }}
{{ end }}

{{/* Sort by proficiency desc, take top 12 */}}
{{ $topSkills := first 12 (sort $allSkills "proficiency" "desc") }}

<div class="skills-list">
{{ range $topSkills }}
  <div class="skill-item">
    <div class="skill-name">{{ .name }}</div>
    <div class="skill-bar-bg">
      <div class="skill-bar-fill" data-percent="{{ .proficiency }}" style="width: 0%;"></div>
    </div>
  </div>
{{ end }}
</div>
