services:
  site:
    image: hugomods/hugo:ci
    ports:
      - "1313:1313"
    volumes:
      - ../src:/src
    command: server --bind=0.0.0.0 --baseURL=http://localhost:1313 --source=/src --disableFastRender --poll 1s
    environment:
      - HUGO_ENABLEMISSINGCONTENTPLACEHOLDERS=true
